.legend {
  background-color: #fff;
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
}

.legend h4 {
  margin: 0 0 10px;
}

.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.mapbox-logo {
  display: none !important;
}

/* Stili per la barra di scorrimento della sidebar */
.sidebar::-webkit-scrollbar {
  width: 8px; /* Larghezza della barra di scorrimento */
  background-color: #f2f2f2; /* Colore dello sfondo grigio chiaro */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Colore della barra di scorrimento grigia */
  border-radius: 4px; /* Smussatura dei bordi */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #999; /* Colore della barra di scorrimento grigia più scuro al passaggio del mouse */
}
