@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.legend {
  background-color: #fff;
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
}
.legend h4 {
  margin: 0 0 10px;
}
.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.mapbox-logo {
  display: none !important;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.temporal-slider {
  margin-top: 10px;
  background-color: #ffffff; /* Cambia il colore dello sfondo della traccia dello slider */
  border-radius: 6px;
  padding: 6px;
}

.slider-item {
  width: 14%; /* Riduci la larghezza dei punti per renderli più compatti */
  background-color: #666; /* Cambia il colore dei punti dello slider */
  color: #fff;
  padding: 6px 0;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.slider-item:hover {
  background-color: #888; /* Cambia il colore dei punti al passaggio del mouse */
}

/* Stile per il cursore dello slider */
.rc-slider-handle {
  background-color: #fff;
  transition: box-shadow 0.3s;
  box-shadow: 0 0 0 2px #59595950;
  border-color: #666;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  box-shadow: 0 0 0 4px #ffffff !important;
}

/* Stile per la transizione del bordo quando il pallino perde il focus */
.rc-slider-handle:hover {
  border-color: #666;
  transition: border-color 0.3s;
}

/* Stile per la traccia dello slider */
.rc-slider-rail {
  background-color: #555; /* Cambia il colore della traccia dello slider */
  height: 6px;
  border-radius: 6px;
  cursor: pointer;
}

/* Stile per la parte già selezionata dello slider */
.rc-slider-track {
  background-color: #888; /* Cambia il colore della parte selezionata dello slider */
  height: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.slider-mark {
  color: #fff; /* Imposta il colore bianco per i numeri dello slider */
  font-size: 16px;
}

/* Stili per la barra di scorrimento della sidebar */
.sidebar::-webkit-scrollbar {
  width: 8px; /* Larghezza della barra di scorrimento */
  height: 5px;
  background-color: #ffffff00; /* Colore dello sfondo grigio chiaro */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #9f9f9f; /* Colore della barra di scorrimento grigia */
  height: 5px;
  border-radius: 100px; /* Smussatura dei bordi */
}

/* Cambia colore quando si passa sopra con il mouse */
.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #c0c0c0; /* Cambia il colore al passaggio del mouse */
}

/* Stili per lo schermo di caricamento */
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Colore di sfondo scuro per lo schermo di caricamento */
  color: white;
}

.loading-overlay img {
  width: 100px; /* Dimensione del logo di caricamento */
  height: 100px;
  margin-bottom: 16px;
}

.heatmap-cell-value {
  pointer-events: none;
}

.tooltip-container {
  position: relative;
}

.tooltip-btn {
  border: none;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -25px;
  left: -100px; /* Posizione a sinistra del bottone */
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.disabled-div {
  pointer-events: none;
  opacity: 0.6; /* Riduci l'opacità per indicare che il div è disattivato */
  cursor: not-allowed; /* Cambia il cursore per indicare che il div non è interattivo */
  /* Aggiungi ulteriori stili per rendere il div visivamente disabilitato */
}

.sfondo {
  background-color: rgba(55, 65, 81, 0.5);
}
