@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.legend {
  background-color: #fff;
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
}
.legend h4 {
  margin: 0 0 10px;
}
.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.mapbox-logo {
  display: none !important;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

/*mobile*/
@media screen and (max-width: 500px) {
  .sidebar-container {
    width: 100vw;
    padding-bottom: 150px;
  }
  .sidebar {
    width: 100%;
  }
  .headers-text-font {
    font-size: 1.5rem; /* Imposta la dimensione desiderata per il testo su schermi più piccoli */
  }
  .title-text-font {
    font-size: 1rem; /* Imposta la dimensione desiderata per il testo su schermi più piccoli */
  }
  .normal-text-font {
    font-size: 0.7rem; /* Imposta la dimensione desiderata per il testo su schermi più piccoli */
  }
  .normal-text-font .info {
    font-size: 0.5rem; /* Imposta la dimensione desiderata per il testo su schermi più piccoli */
  }

  .everything-font {
    font-size: 1rem;
  }
  .light-text-font {
    font-size: 1rem;
  }
  .cp {
    font-size: 0.7rem;
  }
  .area-chart {
    width: 250px;
  }
  .aqis-div {
    height: 170px;
  }
  .aqishow-sidebar {
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
  }
  .aqishow-popup {
    width: 75px;
    height: 75px;
    font-size: 1.5rem;
  }
  .control-panel {
    width: 350px;
    height: fit-content;
  }
  .cp-buttons {
    width: 35px;
    height: 35px;
  }
  .popup-div {
    width: 300px;
    height: fit-content;
  }
  .popup-chart {
    width: 300px;
    height: fit-content;
  }
  .popup-div-1 {
    display: flex;
    flex-direction: column;
  }
  .popup-div-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .info-modal {
    width: 550px;
    height: 450px;
    overflow-y: scroll;
  }
  /* Stili per la barra di scorrimento della sidebar */
  .info-modal::-webkit-scrollbar {
    width: 8px; /* Larghezza della barra di scorrimento */
    height: 5px;
    background-color: #ffffff00; /* Colore dello sfondo grigio chiaro */
  }

  .info-modal::-webkit-scrollbar-thumb {
    background-color: #9f9f9fbd; /* Colore della barra di scorrimento grigia */
    height: 5px;
    border-radius: 100px; /* Smussatura dei bordi */
  }

  /* Cambia colore quando si passa sopra con il mouse */
  .info-modal::-webkit-scrollbar-thumb:hover {
    background-color: rgb(
      205,
      104,
      104
    ); /* Cambia il colore al passaggio del mouse */
  }

  /* Cambia colore quando si passa sopra con il mouse */
  .info-modal-blind::-webkit-scrollbar-thumb:hover {
    background-color: rgb(
      104,
      117,
      205
    ); /* Cambia il colore al passaggio del mouse */
  }
  .info-modal-colors {
    width: 75px;
    height: 10px;
  }
  .info-modal-colors-div {
  }
}

/*1280x720 - 1920x1080*/
@media screen and (min-width: 501px) and (max-width: 1050px) {
  .sidebar-container {
    width: 400px;
  }
  .sidebar {
    width: 100%;
  }
  .headers-text-font {
    font-size: 1.5rem; /* Imposta la dimensione desiderata per il testo su schermi più piccoli */
  }
  .title-text-font {
    font-size: 1.5rem; /* Imposta la dimensione desiderata per il testo su schermi più piccoli */
  }
  .normal-text-font {
    font-size: 1rem; /* Imposta la dimensione desiderata per il testo su schermi più piccoli */
  }
  .normal-text-font .info {
    font-size: 0.5rem; /* Imposta la dimensione desiderata per il testo su schermi più piccoli */
  }
  .everything-font {
    font-size: 1rem;
  }
  .light-text-font {
    font-size: 1rem;
  }
  .cp {
    font-size: 0.7rem;
  }
  .area-chart {
    width: 250px;
  }
  .aqis-div {
    height: 170px;
  }
  .aqishow-sidebar {
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
  }
  .aqishow-popup {
    width: 75px;
    height: 75px;
    font-size: 1.5rem;
  }
  .control-panel {
    width: 350px;
    height: fit-content;
  }
  .cp-buttons {
    width: 35px;
    height: 35px;
  }
  .popup-div {
    width: 300px;
    height: fit-content;
  }
  .popup-chart {
    width: 300px;
    height: fit-content;
  }
  .popup-div-1 {
    display: flex;
    flex-direction: column;
  }
  .popup-div-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .info-modal {
    width: 550px;
    height: 450px;
    overflow-y: scroll;
  }
  /* Stili per la barra di scorrimento della sidebar */
  .info-modal::-webkit-scrollbar {
    width: 8px; /* Larghezza della barra di scorrimento */
    height: 5px;
    background-color: #ffffff00; /* Colore dello sfondo grigio chiaro */
  }

  .info-modal::-webkit-scrollbar-thumb {
    background-color: #9f9f9fbd; /* Colore della barra di scorrimento grigia */
    height: 5px;
    border-radius: 100px; /* Smussatura dei bordi */
  }

  /* Cambia colore quando si passa sopra con il mouse */
  .info-modal::-webkit-scrollbar-thumb:hover {
    background-color: rgb(
      205,
      104,
      104
    ); /* Cambia il colore al passaggio del mouse */
  }

  /* Cambia colore quando si passa sopra con il mouse */
  .info-modal-blind::-webkit-scrollbar-thumb:hover {
    background-color: rgb(
      104,
      117,
      205
    ); /* Cambia il colore al passaggio del mouse */
  }
  .info-modal-colors {
    width: 75px;
    height: 10px;
  }
  .info-modal-colors-div {
  }
}

/*>1920x1080*/
@media screen and (min-width: 1050px) {
  .sidebar-container {
    width: 650px;
  }
  .sidebar {
    width: 100%;
  }
  .headers-text-font {
    font-size: 1.5rem; /* Imposta la dimensione desiderata per il testo su schermi più piccoli */
  }
  .title-text-font {
    font-size: 2.5rem; /* Imposta la dimensione desiderata per il testo su schermi più piccoli */
  }
  .normal-text-font {
    font-size: 1.5rem; /* Imposta la dimensione desiderata per il testo su schermi più piccoli */
  }
  .normal-text-font-mo {
    font-size: 1rem;
  }
  .info-m {
    font-size: 1rem; /* Imposta la dimensione desiderata per il testo su schermi più piccoli */
  }
  .everything-font {
    font-size: 1.5rem;
  }
  .light-text-font {
    font-size: 1.5rem;
  }
  .cp {
    font-size: 1.2rem;
  }
  .info-m2 {
    font-size: 1rem;
  }
  .area-chart {
    width: "100%";
    margin: "0 auto";
  }
  .aqis-div {
    height: 200px;
  }
  .aqishow-sidebar {
    width: 150px;
    height: 150px;
    font-size: 2rem;
  }
  .aqishow-popup {
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
  }
  .control-panel {
    width: 450px;
    height: fit-content;
  }
  .cp-buttons {
    width: 40px;
    height: 40px;
  }
  .popup-div {
    width: fit-content;
    height: fit-content;
  }
  .popup-chart {
    width: 100%;
    height: fit-content;
  }
  .popup-div-1 {
    display: flex;
  }
  .popup-div-2 {
    display: flex;
    flex-direction: column;
  }
  .info-modal {
    width: 600px;
  }
  .info-modal-colors {
    width: 90px;
    height: 25px;
  }
  .info-modal-colors-div {
    width: 100%;
  }
}

/* Stili per la barra di scorrimento della sidebar */
.sidebar::-webkit-scrollbar {
  width: 8px; /* Larghezza della barra di scorrimento */
  height: 5px;
  background-color: #ffffff00; /* Colore dello sfondo grigio chiaro */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #9f9f9fbd; /* Colore della barra di scorrimento grigia */
  height: 5px;
  border-radius: 100px; /* Smussatura dei bordi */
}

/* Cambia colore quando si passa sopra con il mouse */
.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(
    205,
    104,
    104
  ); /* Cambia il colore al passaggio del mouse */
}

/* Cambia colore quando si passa sopra con il mouse */
.sidebar-blind::-webkit-scrollbar-thumb:hover {
  background-color: rgb(
    104,
    117,
    205
  ); /* Cambia il colore al passaggio del mouse */
}

/* Stili per lo schermo di caricamento */
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Colore di sfondo scuro per lo schermo di caricamento */
  color: white;
}

.loading-overlay img {
  width: 100px; /* Dimensione del logo di caricamento */
  height: 100px;
  margin-bottom: 16px;
}

.heatmap-cell-value {
  pointer-events: none;
}

.tooltip-container {
  position: relative;
  cursor: pointer;
}

.tooltip-btn {
  border: none;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: fit-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -25px;
  left: -50%;
  transform: translateY(-50%);
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-text-modes {
  visibility: hidden;
  width: fit-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 88;
  top: 0px;
  right: 50px;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s, visibility 0.3s;
}

.mapboxgl-ctrl-scale {
  user-select: none;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-container:hover .tooltip-text-modes {
  visibility: visible;
  opacity: 1;
}

.disabled-div {
  pointer-events: none;
  opacity: 0.6; /* Riduci l'opacità per indicare che il div è disattivato */
  cursor: not-allowed; /* Cambia il cursore per indicare che il div non è interattivo */
  /* Aggiungi ulteriori stili per rendere il div visivamente disabilitato */
}

/* Stilizza il controllo della scala */
.mapboxgl-ctrl-scale {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0);
  user-select: "none";
  color: "#333";
  border: none !important;
}

.night-mode .mapboxgl-ctrl-scale {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: rgba(48, 58, 62, 0);
  user-select: "none";
  color: rgba(255, 255, 255, 1);
  border: none !important;
}

.mapboxgl-ctrl-group {
  background-color: rgb(255, 255, 255); /* Colore di sfondo scuro */
  border: 0.1px solid #a0aec015;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) !important;
  border-radius: 7px;
}

/* Stile in modalità notturna */
.night-mode .mapboxgl-ctrl-group {
  background-color: rgb(51, 64, 68) !important;
  border: 0.1px solid #a0aec015 !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) !important;
}

.modes-border {
  border: 0.1px solid #a0aec015;
}

.modes-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) !important;
}

.mapboxgl-ctrl-group button + button {
  border-top: 0.1px solid #ff000000 !important;
}

.modes-button {
  border-radius: 7px;
}

.cp-button-r {
  border-radius: 7px !important;
}

.mapboxgl-ctrl-group button {
  width: 40px !important;
  height: 40px !important;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 29 29'%3E%3Cpath d='M14.5 8.5c-.75 0-1.5.75-1.5 1.5v3h-3c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h3v3c0 .75.75 1.5 1.5 1.5S16 19.75 16 19v-3h3c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-3v-3c0-.75-.75-1.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.night-mode .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 29 29'%3E%3Cpath d='M14.5 8.5c-.75 0-1.5.75-1.5 1.5v3h-3c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h3v3c0 .75.75 1.5 1.5 1.5S16 19.75 16 19v-3h3c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-3v-3c0-.75-.75-1.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 29 29'%3E%3Cpath d='M10 13c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h9c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-9z'/%3E%3C/svg%3E");
}

.night-mode .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 29 29'%3E%3Cpath d='M10 13c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h9c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-9z'/%3E%3C/svg%3E");
}

/* Stilizza la posizione dei controlli nella parte alta destra */
.mapboxgl-ctrl-top-right {
  top: 50px; /* Regola questa altezza in base alla tua navbar */
}

.mapboxgl-ctrl-scale {
  width: fit-content !important;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
  color: #fff !important;
}

.rotate {
  animation: rotate 1s linear infinite; /* Imposta l'animazione di rotazione */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Ruota di 0 gradi all'inizio */
  }
  100% {
    transform: rotate(360deg); /* Ruota di 360 gradi alla fine */
  }
}

.rc-slider-dot {
  bottom: -7px !important;
}

.rc-slider-dot-active {
  bottom: -10px !important;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  box-shadow: 0 0 0 3px #a1a1a1 !important;
}

.rc-slider-handle:focus-visible {
  box-shadow: 0 0 0 3px #fa9696 !important;
}

.dot {
  visibility: "visible";
  border: "none";
}

.active-dot {
  width: 20;
  height: 20;
  user-select: none;
}

.inactive-dot {
  background-color: rgba(210, 210, 210, 1);
  width: 12;
  height: 12;
  user-select: none;
}

.night-mode .wind-animation {
  stroke: rgb(0, 0, 0); /* Colore iniziale delle linee dell'SVG */
  stroke-dasharray: 100%; /* Imposta la lunghezza del tratto su tutta la lunghezza del percorso */
  stroke-dashoffset: 100%; /* Sposta il tratto fuori dalla vista */
  animation: pulsateWindNight 3s infinite linear; /* Animazione dello spostamento del tratto */
}

@keyframes pulsateWindNight {
  0% {
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 100%; /* Tratto fuori dalla vista all'inizio */
  }
  25% {
    stroke: rgb(
      255,
      255,
      255
    ); /* Colore blu più chiaro per l'effetto di pulsazione */
    stroke-dashoffset: 0%; /* Tratto all'interno della vista durante l'animazione */
  }
  100% {
    stroke: rgb(
      255,
      255,
      255
    ); /* Mantieni il colore blu più chiaro alla fine */
    stroke-dashoffset: 0%; /* Mantieni il tratto all'interno della vista alla fine */
  }
}

.wind-animation {
  stroke: #333; /* Colore iniziale delle linee dell'SVG */
  stroke-dasharray: 100%; /* Imposta la lunghezza del tratto su tutta la lunghezza del percorso */
  stroke-dashoffset: 100%; /* Sposta il tratto fuori dalla vista */
  animation: pulsateWind 3s infinite linear; /* Animazione dello spostamento del tratto */
}

@keyframes pulsateWind {
  0% {
    stroke: #333;
    stroke-dashoffset: 100%; /* Tratto fuori dalla vista all'inizio */
  }
  25% {
    stroke: #333; /* Colore blu più chiaro per l'effetto di pulsazione */
    stroke-dashoffset: 0%; /* Tratto all'interno della vista durante l'animazione */
  }
  100% {
    stroke: #333; /* Mantieni il colore blu più chiaro alla fine */
    stroke-dashoffset: 0%; /* Mantieni il tratto all'interno della vista alla fine */
  }
}

.windheatmap-animation {
  stroke: #333; /* Colore iniziale delle linee dell'SVG */
  stroke-dasharray: 100%; /* Imposta la lunghezza del tratto su tutta la lunghezza del percorso */
  stroke-dashoffset: 100%; /* Sposta il tratto fuori dalla vista */
  animation: pulsateWindHeat 3s infinite linear; /* Animazione dello spostamento del tratto */
}

@keyframes pulsateWindHeat {
  0% {
    stroke: #333;
    stroke-dashoffset: 100%; /* Tratto fuori dalla vista all'inizio */
  }
  25% {
    stroke: #333; /* Colore blu più chiaro per l'effetto di pulsazione */
    stroke-dashoffset: 0%; /* Tratto all'interno della vista durante l'animazione */
  }
  65% {
    stroke: #333; /* Colore blu più chiaro per l'effetto di pulsazione */
    stroke-dashoffset: 0%; /* Tratto all'interno della vista durante l'animazione */
  }
  100% {
    stroke: #333; /* Mantieni il colore blu più chiaro alla fine */
    stroke-dashoffset: 0%; /* Mantieni il tratto all'interno della vista alla fine */
  }
}

.night-mode .windheatmap-animation {
  stroke: rgb(0, 0, 0); /* Colore iniziale delle linee dell'SVG */
  stroke-dasharray: 100%; /* Imposta la lunghezza del tratto su tutta la lunghezza del percorso */
  stroke-dashoffset: 100%; /* Sposta il tratto fuori dalla vista */
  animation: pulsateWindHeatNight 3s infinite linear; /* Animazione dello spostamento del tratto */
}

@keyframes pulsateWindHeatNight {
  0% {
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 100%; /* Tratto fuori dalla vista all'inizio */
  }
  25% {
    stroke: rgb(
      255,
      255,
      255
    ); /* Colore blu più chiaro per l'effetto di pulsazione */
    stroke-dashoffset: 0%; /* Tratto all'interno della vista durante l'animazione */
  }
  100% {
    stroke: rgb(
      255,
      255,
      255
    ); /* Mantieni il colore blu più chiaro alla fine */
    stroke-dashoffset: 0%; /* Mantieni il tratto all'interno della vista alla fine */
  }
}

/* Animazione per spostamento orizzontale */
@keyframes moveHorizontally {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
}

/* Animazione per il disegno del tratto */
@keyframes fillDraw {
  0%,
  100% {
    fill: red;
  }
  50% {
    fill: green; /* O il colore desiderato */
  }
}

/* Assegna l'animazione al path da disegnare */
.animated-fill path {
  fill: transparent;
  animation: fillDraw 2s forwards; /* forwards mantiene l'ultimo frame dell'animazione */
}

/* Assegna l'animazione al movimento orizzontale */
.animated-move {
  animation: moveHorizontally 3s infinite;
}

.rc-slider-mark {
  top: 25px !important;
}

@font-face {
  font-family: "Hangout-Italic"; /* Dà un nome al font */
  src: url("./fonts/Hangout-Italic.ttf") format("truetype"); /* Percorso al font */
}

@font-face {
  font-family: "Hangout"; /* Dà un nome al font */
  src: url("./fonts/Hangout.ttf") format("truetype"); /* Percorso al font */
}

@font-face {
  font-family: "Amonos"; /* Dà un nome al font */
  src: url("./fonts/amonos.otf") format("otf"); /* Percorso al font */
}

@font-face {
  font-family: "Nauticus"; /* Dà un nome al font */
  src: url("./fonts/NauticusSans.ttf") format("truetype"); /* Percorso al font */
}

@font-face {
  font-family: "NauticusThin"; /* Dà un nome al font */
  src: url("./fonts/Nauticushin.ttf") format("truetype"); /* Percorso al font */
}

@font-face {
  font-family: "Potatoes"; /* Dà un nome al font */
  src: url("./fonts/SpicyPotatos.ttf") format("truetype"); /* Percorso al font */
}

@font-face {
  font-family: "Poppins"; /* Dà un nome al font */
  src: url("./fonts/Poppins-Regular.ttf") format("truetype"); /* Percorso al font */
}

@font-face {
  font-family: "PoppinsMedium"; /* Dà un nome al font */
  src: url("./fonts/Poppins-Medium.ttf") format("truetype"); /* Percorso al font */
}

@font-face {
  font-family: "PoppinsBold"; /* Dà un nome al font */
  src: url("./fonts/Poppins-Bold.ttf") format("truetype"); /* Percorso al font */
}

@font-face {
  font-family: "PoppinsLight"; /* Dà un nome al font */
  src: url("./fonts/Poppins-Light.ttf") format("truetype"); /* Percorso al font */
}

.title-text-font {
  font-family: "PoppinsBold", sans-serif;
  color: #333;
}

.light-text-font {
  font-family: "PoppinsLight", sans-serif;
  color: #333;
}

.headers-text-font {
  font-family: "PoppinsMedium", sans-serif;
  color: #333;
}

.normal-text-font {
  font-family: "Poppins", sans-serif;
  color: #333;
}

.logo-title {
  font-family: "Hangout", sans-serif; /* Usa il font personalizzato */
  color: #333;
}

.night-mode .title-text-font {
  font-family: "PoppinsBold", sans-serif;
  color: #fff;
}

.night-mode .light-text-font {
  font-family: "PoppinsLight", sans-serif;
  color: #fff;
}

.night-mode .headers-text-font {
  font-family: "PoppinsMedium", sans-serif;
  color: #fff;
}

.night-mode .normal-text-font {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.night-mode .logo-title {
  font-family: "Hangout", sans-serif; /* Usa il font personalizzato */
}

.belcolorechiaro {
  /* background-color: rgba(48, 58, 62, 1); */
  background-color: rgba(48, 58, 62, 1);
}

.blurred {
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

.cp-background-night {
  /* background-color: rgba(48, 58, 62, 0.5); */
  background-color: rgba(35, 42, 47, 0.7);
}

.cp-background-light {
  /* background-color: rgba(48, 58, 62, 0.5); */
  background-color: rgba(255, 255, 255, 0);
}

.sidebarInfo-background {
  background-color: rgba(58, 76, 82, 0.638);
}

.sidebarInfo-background-light {
  background-color: rgba(124, 124, 124, 0.079);
}

.navbar-background,
.sidebar-background {
  /* background-color: rgba(48, 58, 62, 0.5); */
  background-color: rgba(35, 42, 47, 0.765);
}

.navbar-background-light,
.sidebar-background-light {
  /* background-color: rgba(48, 58, 62, 0.5); */
  background-color: rgba(255, 255, 255, 0);
}

.button-colors-nightmode {
  background-color: rgba(58, 76, 82, 0.502);
  /*background-color: rgba(48, 58, 62, 1);*/
}

.button-colors-nightmode-map {
  background-color: rgb(51, 64, 68);
  /*background-color: rgba(48, 58, 62, 1);*/
}

.button-colors-lightmode {
  background-color: rgb(255, 255, 255);
}

.button-colors-lightmode-map {
  background-color: rgb(255, 255, 255);
}

.github-button {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.github-button:hover svg path:nth-child(2) {
  fill: rgb(205, 104, 104);
  stroke: rgb(205, 104, 104);
}

.github-button-blind:hover svg path:nth-child(2) {
  fill: rgb(104, 117, 205);
  stroke: rgb(104, 117, 205);
}

.light-mode-text-color {
  color: rgb(51, 51, 51);
}

.cp-buttons-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
}

.globe-night {
  background: #191a1a;
  border-radius: 50%;
  height: 340px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
}

.globe {
  background: #f3f2f2;
  border-radius: 50%;
  height: 340px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
}

.globe-svg {
  animation: rotation 8s linear 0s infinite;
}

@keyframes rotation {
  from {
    transform: translateX(0);
  }
  from {
    transform: translateX(-50%);
  }
}

.prova {
  color: rgb(45, 47, 48);
}
